@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRoundedBold.ttf') format('opentype'); 
  
}
@font-face {
  font-family: 'SFPro';
  src: url('./fonts/sfPro.OTF') format('opentype'); 
  
}

@font-face {
  font-family: 'SFProSemiBold';
  src: url('./fonts/SFSemibold.otf') format('opentype'); 
  
}

@font-face {
  font-family: 'SFProMedium';
  src: url('./fonts/SFProMedium.otf') format('opentype'); 
  
}

.roboto{
  font-family: "Roboto", sans-serif;
}


*::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}